@value theme: "Styles/theme.css";

@value grayBorder, white, grayDark from theme;

.wrapper {
  width: 690px;
  margin: 70px auto;
  padding: 70px 30px 40px;
  border: grayBorder;
  border-radius: 4px;
  background-color: white;
}

.addAccountDescription {
  text-align: center;
  margin-bottom: 0px;
  font-size: 20px;
  color: grayDark;
}

.btnWrapper {
  text-align: center;
  margin: 50px 0 20px;
}
