@value theme: "Styles/theme.css";
@value screen-sm from theme;

.paddedRow {
  padding-bottom: 20px;
}

.message {
  padding-bottom: 30px;
}

@media screen and (max-width: screen-sm) {
  .paddedRow {
    padding-bottom: 10px;
  }

  .message {
    padding-bottom: 20px;
  }
}
