@value theme: "Styles/theme.css";

@value blue, blueText, validationRed, grayBorder, grayDark, gray, screen-md from theme;

.group {
  position: relative;
  margin-bottom: 20px;
  width: 100%;
  padding-top: 21px;
}

.group.isActive .label {
  color: blue;
}

.group :global(.tooltip) {
  top: 23px;
}

.label {
  color: grayDark;
  position: absolute;
  pointer-events: none;
  left: 5px;
  top: -2px;
  font-size: 11px;
  font-weight: normal;
}

.hasError .label {
  color: validationRed;
}

.textarea {
  width: 100%;
  border-radius: 4px;
  border: solid 1px gray;
  resize: none;
  padding: 10px;
  color: blueText;
  font-size: 17px;
  -webkit-appearance: none;
}

@media screen and (max-width: screen-md) {
  .group :global(.tooltip) {
    top: auto;
    bottom: -33px;
  }
}
