@value theme: "Styles/theme.css";

@value grayBorder, white, screen-md from theme;

.walletForm {
  width: 450px;
  margin: 50px auto;
  padding: 30px 30px 40px;
  border: grayBorder;
  border-radius: 4px;
  background-color: white;
}

.walletID {
  margin: 30px 0 30px;
}

@media screen and (max-width: screen-md) {
  .walletForm {
    width: auto;
    margin: 20px auto;
    padding: 20px 15px;
    border-radius: 0;
    border-left: none;
    border-right: none;
  }
}
