@value theme: "Styles/theme.css";
@value grayDark from theme;

.subTitle {
  font-size: 25px;
  font-weight: 300;
}

.radioTitle {
  padding: 20px 0;
  color: grayDark;
}

.description {
  line-height: 1.4;
  padding: 30px 0;
}

.descriptionRobot {
  padding: 8px 0 20px 3px;
}

.radioBoxs {
  padding-left: 20px;
}

.option {
  margin-right: 40px;
}

.daysInput {
  margin-bottom: 160px;
  padding-left: 20px;
}

.inputBase {
  margin-bottom: 242px;
}
