@value theme: "Styles/theme.css";
@value screen-md, grayDark, grayBorder from theme;

.noData {
  padding: 30px 0;
  text-align: center;
  border-left: grayBorder;
  border-right: grayBorder;
}

.noDataTitle {
  margin: 0 0 20px 0;
  padding: 0 20px;
  font-weight: 300;
  line-height: 1.5;
}

.noDataDescription {
  padding: 0 20px;
  color: grayDark;
  font-size: 18px;
}
