.content {
    width: 85%;
    max-width: 1440px;
    min-width: 500px;
    margin: auto;
    padding-bottom: 180px;
}

@media screen and (max-width: 767px) {
    .content {
        width: 100%;
        max-width: 450px;
        min-width: 0px;
        padding: 10px;
        padding-bottom: 180px;
    }
}